div.timeline-frame {
    position: relative;
    overflow: hidden;
}

div.timeline-content {
    position: relative;
    overflow: hidden;
}

div.timeline-axis {
    filter: alpha(opacity = 60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    border-width: 1px;
    border-top-style: solid;
}

div.timeline-axis-grid {
    border-left-style: solid;
    border-width: 1px;
}

div.timeline-axis-grid-minor {
    filter: alpha(opacity = 30);
    -khtml-opacity: 0.3;
    -moz-opacity: 0.3;
    opacity: 0.3;
}

div.timeline-axis-grid-major {
    filter: alpha(opacity = 50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
}

div.timeline-axis-text {
    padding: 3px;
    white-space: nowrap;
}

div.timeline-event {
    display: inline-block;
}

div.timeline-event-selected {
    background-color: #fff785;
    border-color: #ffc200;
    z-index: 999;
}
div.timeline-event.timeline-event-box {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

div.timeline-event.timeline-event-dot {
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

div.timeline-event.timeline-event-range {
    /*border-style: solid;
    border-width: 1px;*/
    border-radius: 2px;
    -moz-border-radius: 2px; /* For Firefox 3.6 and older */
}

div.timeline-frame div.timeline-event-dot-container {
    border: none;
}

div.timeline-event-range-drag-left {
    cursor: w-resize;
    z-index: 1000;
}

div.timeline-event-range-drag-right {
    cursor: e-resize;
    z-index: 1000;
}

div.timeline-event-line {
    border-left-width: 1px;
    border-left-style: solid;
}

div.timeline-event-content {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden; 
}

div.timeline-groups-axis {
    border-width: 1px;
}

div.timeline-groups-axis-onleft {
    border-style: none groove none none;
}

div.timeline-groups-axis-onright {
    border-style: none none none groove;
}

div.timeline-groups-text {
    padding-left: 10px;
    padding-right: 10px;
}

div.timeline-currenttime {
    background-color: #FF7F6E;
    width: 2px;
}

div.timeline-customtime {
    background-color: #6E94FF;
    width: 2px;
    cursor: move;
}

div.timeline-navigation-new, div.timeline-navigation-delete,
div.timeline-navigation-zoom-in, div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left, div.timeline-navigation-move-right {
    cursor: pointer;
    float: left;
    padding: 5px;
    text-decoration: none;
}

div.timeline-navigation-new-line {
    border-right: dotted 1px;
}

div.timeline-navigation-delete {
    padding: 0 0 0 5px;
    background: url('img/deleteEvent.png') no-repeat center;
    width: 13px;
    height: 13px;
}

div.timeline-selectable div.timeline-event {
    cursor: pointer;
}

div.timeline-selectable div.timeline-event-content {
    cursor: pointer;
}

div.timeline-event-selected div.timeline-event-content {
    /*cursor: move;*/
}


/* Custom style */
.alert {
    position: relative;
    padding: .2rem .85rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}


.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
	line-height: 1.42857;
	margin-right: 5px;
}

.timeline-label {
	color: #5A5C75!important;
	margin-bottom: 0!important;
	font-size: 0.85rem;
	line-height: 1.2;
	display: inline-block;
	white-space: nowrap;
}

.general-event-description {
	color: #3c3d4e!important;
	margin-bottom: 0!important;
	font-size: 0.95rem;
	overflow-wrap: break-word
}


/* our custom classes overrule the styles for selected events,
	so lets define a new style for the selected events */
div.timeline-event-selected {
	background-color: transparent;
}

table{
	border-collapse:unset;
}

.table td {
	padding:0.35rem;
}

.table th {
	padding:0.35rem;
}

div.timeline-event-box.no-border {
		text-align: center;
		border-style: solid;
		border-width: 0px;
		border-radius: 5px;
}

.timeline-area {
	/*position: relative;
	height: 10rem;*/
	width: 100%;
  }
  
  @media (min-width: 768px) {
	.timeline-area {
	  /*height: 20rem;*/
	}
  }

.card-body-timeline {
	-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-bottom: 0rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.popover-header {
	color: #5A5C75!important;
	text-overflow: ellipsis;	
	white-space: nowrap;
	overflow: hidden;  
    font-size: 15px;
}

.close {
    float: right;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    /* opacity: .5; */
}